In [1]:
import pandas as pd 
df = pd.read_csv("air_quality_no2.csv", parse_dates=True)

df.head()

              datetime  station_antwerp  station_paris  station_london
0  2019-05-07 02:00:00              NaN            NaN            23.0
1  2019-05-07 03:00:00             50.5           25.0            19.0
2  2019-05-07 04:00:00             45.0           27.7            19.0
3  2019-05-07 05:00:00              NaN           50.4            16.0
4  2019-05-07 06:00:00              NaN           61.9             NaN

df = df[["date.utc", "location",
        "parameter", "value"]]

df.head()