- Selecting specific columns.
- from data_core table.

import pandas as pd
df = pd.read_csv('data_core.csv')
df

- Selecting humidity column

In [4]:
hum = df['Humidity']
hum.head()

0    52.0
1    52.0
2    65.0
3    62.0
4    54.0
Name: Humidity, dtype: float64

- i want to have a look at Temparature,Humidity,Moisture,Soil Type

In [6]:
firstThree = df[["Temparature","Humidity","Moisture","Soil Type"]]
firstThree.head()

   Temparature  Humidity  Moisture Soil Type
0         26.0      52.0      38.0     Sandy
1         29.0      52.0      45.0     Loamy
2         34.0      65.0      62.0     Black
3         32.0      62.0      34.0       Red
4         28.0      54.0      46.0    Clayey

In [7]:
above_45 = df[df['Humidity'] > 45]
above_45

      Temparature  Humidity  Moisture  ... Potassium Phosphorous  Fertilizer Name
0           26.00     52.00     38.00  ...         0           0             Urea
1           29.00     52.00     45.00  ...         0          36              DAP
2           34.00     65.00     62.00  ...         9          30         14-35-14
3           32.00     62.00     34.00  ...         0          20            28-28
4           28.00     54.00     46.00  ...         0           0             Urea
...           ...       ...       ...  ...       ...         ...              ...
7995        35.30     59.61     44.25  ...        14          10             Urea
7996        39.39     71.67     49.34  ...         0           0         10-26-26
7997        35.79     67.64     45.04  ...         0           0             Urea
7998        37.78     73.38     36.03  ...         3          30              DAP
7999        31.38     48.73     62.27  ...         2          33            28-28

[7666 rows x 9 columns]

In [8]:
df['Humidity'] > 45

0       True
1       True
2       True
3       True
4       True
        ...
7995    True
7996    True
7997    True
7998    True
7999    True
Name: Humidity, Length: 8000, dtype: bool