- to create new columns derived from existing columns

In [3]:
import pandas as pd

df = pd.read_csv("air_quality_no2.csv")
df.head()

              datetime  station_antwerp  station_paris  station_london
0  2019-05-07 02:00:00              NaN            NaN            23.0
1  2019-05-07 03:00:00             50.5           25.0            19.0
2  2019-05-07 04:00:00             45.0           27.7            19.0
3  2019-05-07 05:00:00              NaN           50.4            16.0
4  2019-05-07 06:00:00              NaN           61.9             NaN

* to express the concentration of the station in London in mg/m.(If we assume temperature of 25 degrees Celsius and pressure of 1013 hPa, the conversion factor is 1.882)

In [5]:
df["london_mg_per_cubic"] = df["station_london"] * 1.882

df.head()

NameError: name 'air_quality' is not defined